.game-section {
  width: 960px;
  position: relative;
  margin: 0 auto;
  line-height: 3rem;
}

@media only screen and (max-width: 479px) {
  .game-section {
    width: 90%;
  }
}
.my-button {
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: rgb(58, 148, 58);
  color: white;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 3px 5px 2px #474747;
  margin-bottom: 15px;
  margin-top: 10px;
  background: linear-gradient(to bottom, #48b848 5%, #43c49d 100%);
  align-self: center;
}
input {
  border-radius: 50%;
  height: 11vmin;
  width: 20vw;
}

@media only screen and (min-width: 1200px) {
  input {
    border-radius: 50%;
    height: 17vmin;
    width: 20vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    input {
        border-radius: 50%;
        height: 13vmin;
        width: 20vw;
      }
}
@media only screen and(min-width: 100px) and (max-width:462px){
  input {
      border-radius: 50%;
      height: 4vmin;
      width: 5vw;
    }
    .game-section{
      width: 70vw;
    }
}
body{
  width: auto;
}
